.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 22px; }

/* Hide default HTML checkbox */
.switch input {
  display: none; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: rgba(0, 0, 0, 0.5); }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

input {
  background-color: rgba(0, 0, 0, 0.5); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

body, html {
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto-Condensed', sans-serif;
  min-width: 650px;
  width: 100%; }

body {
  background: linear-gradient(218deg, #000001, #010101, #1a2933, #030f17);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 60s ease infinite; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 22%; }
  50% {
    background-position: 100% 79%; }
  100% {
    background-position: 0% 22%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 22%; }
  50% {
    background-position: 100% 79%; }
  100% {
    background-position: 0% 22%; } }

@keyframes AnimationName {
  0% {
    background-position: 0% 22%; }
  50% {
    background-position: 100% 79%; }
  100% {
    background-position: 0% 22%; } }

.App {
  height: inherit; }

.canvas-container {
  height: calc(100% - 50px);
  display: flex;
  align-items: center; }

.audio-canvas {
  display: inherit;
  margin: 0 auto;
  padding: 0 25px;
  width: 100%;
  height: 100%; }

.music-player-wrapper {
  display: none; }

.header-play-bar {
  height: 50px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99999;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: rgba(245, 240, 200, 0.2);
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 20px; }

.header-play-bar-hide {
  top: -40px;
  -webkit-transition: top 1s;
  /* Safari */
  transition: top 1s; }
  .header-play-bar-hide:hover {
    top: 0;
    -webkit-transition: top 0.3s;
    /* Safari */
    transition: top 0.3s; }

.play-btn {
  /*color: #F59300;*/
  color: #eeeeee;
  font-size: 28px;
  padding-top: 11px; }

.grow {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0); }
  .grow:hover {
    color: white;
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

.seconds-container {
  display: table;
  height: 100%; }

.vis-select-container {
  position: absolute;
  right: 25px;
  height: 50px;
  display: table;
  padding-top: 13px; }

.vis-select {
  color: white;
  font-size: 20px;
  display: table-cell; }

.vis-select-text {
  color: white;
  font-size: 20px;
  display: inline-block; }

.switch-container {
  display: table-cell;
  width: 48px;
  padding: 0 10px; }

.seconds-text {
  color: #eeeeee;
  font-family: 'Inconsolata';
  display: table-cell;
  font-size: 18px;
  vertical-align: middle; }

.seek-container {
  display: table-cell;
  vertical-align: middle; }

.seek-input {
  display: table-cell;
  vertical-align: middle;
  margin: 0 25px; }

.floating-particles {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -9999; }

.scrolling-text {
  position: fixed;
  top: 50%; }

.playing-container {
  position: fixed;
  top: 50%;
  left: 50%; }

.volume-icon {
  font-size: 24px;
  color: white;
  padding-right: 10px; }

@media only screen and (max-width: 600px) {
  .volume-container {
    display: none !important; } }

/****FileUploader****/
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column; }
  .form-container .sample-btn-container {
    display: inline-block;
    margin-right: 10px;
    -webkit-transform: translateY(-50px); }
  .form-container .chose-btn-container {
    display: inline-block;
    margin-left: 10px;
    -webkit-transform: translateY(50px); }
  .form-container .diagonal-line {
    width: 2px;
    height: 300px;
    background-color: rgba(245, 240, 200, 0.5);
    -webkit-transform: rotate(45deg);
    margin: 0 45px;
    display: inline-block; }
  .form-container .file-upload-text {
    font-size: 48px;
    font-family: Inconsolata;
    color: white;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(245, 240, 200, 0.5); }
  .form-container .btn-container {
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .form-container .btn {
    width: 200px;
    height: 55px;
    color: white;
    background: transparent;
    border: 2px solid #f5f0c8;
    border-radius: 5px;
    font-family: Inconsolata;
    font-size: 24px;
    z-index: 9999999;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin: 0 10px; }
    .form-container .btn:hover {
      cursor: pointer;
      border: 2px solid white;
      background: rgba(245, 240, 200, 0.2); }
  .form-container .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }

/***Extra Links and Buttonst***/
.footer-link {
  font-family: 'Inconsolata';
  font-size: 16px;
  font-weight: 700;
  color: rgba(245, 240, 200, 0.6);
  text-decoration: none; }

.github-container {
  position: absolute;
  z-index: 9999999;
  bottom: 25px;
  right: 50px; }

.sample-song-container {
  position: absolute;
  z-index: 9999999;
  bottom: 25px;
  width: 250px;
  text-align: center;
  left: calc(50% - 125px); }
  @media only screen and (max-width: 600px) {
    .sample-song-container {
      display: none; } }

.back-btn-container {
  position: absolute;
  z-index: 9999999;
  bottom: 25px;
  left: 50px; }
  .back-btn-container .back-btn {
    font-size: 32px;
    color: rgba(245, 240, 200, 0.6); }
    .back-btn-container .back-btn:hover {
      color: white; }
